@{
  ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
  themane LLC<br />
  2 Hollins Road<br />
  Harrogate HG1 2JF<br />
  North Yorkshire<br />
  United Kingdom<br />
</address>

<address>
  <strong>Support:</strong> <a href="mailto:support@themane.com">support@themane.com</a><br />
  <strong>Marketing:</strong> <a href="mailto:marketing@themane.com">marketing@themane.com</a>
</address>
