@{
  ViewData["Title"] = "Home page";
}
<p />
themane is home to <b>totally awesome</b> text summarisation!
<p />
We can take some text, analyse it, and generate a concise summary at the click of a button.
There's even some parameters to play with, so you can tweak it to your tastes, but, honestly,
the defaults work just fine.
<p />
Want to try it out?  Let's go <font size="12"><b><a asp-area="" asp-controller="TextSummary" asp-action="Index">summarise!</a></b></font>
